{{ template "header" .}}
{{ template "sidebar" .}}

<main style="margin-top: 70px;">
    <div class="container">
        <div class="fs-4">
            خرید بلیط
            {{if .content}}
            <div class="notification is-danger is-light">
              {{.content}}
            </div>
            {{end}}
        </div>
        <div class="col-md-11">
            <hr class="form-line">
        </div>
        <form action="#" class="me-3">
            <div class="row" style="margin-top: 7px;">
                <div class="form-group col-md-5">
                    <label for="city1">مبدا</label>
                    <select class="form-control" id="city1" class="selectpicker" onchange="disable(2, true)">
                        <option value="مبدا" class="place" selected disabled hidden> از کجا</option>
                        <option value="1">شهر ۱</option>
                        <option value="2">شهر ۲</option>
                        <option value="3">شهر ۳</option>
                        <option value="4">شهر ۴</option>
                    </select>
                </div>
                <div class="form-group col-md-1 d-flex justify-content-center align-items-end">
                    <div class="btn"><i class="fa-solid fa-right-left" onclick="switcher()"></i></div>
                </div>
                <div class="form-group col-md-5">
                    <label for="city2">مقصد</label>
                    <select class="form-control" id="city2" class="selectpicker" onchange="disable(1, true)">
                        <option value="مقصد" class="place" selected disabled hidden> به کجا</option>
                        <option value="1">شهر ۱</option>
                        <option value="2">شهر ۲</option>
                        <option value="3">شهر ۳</option>
                        <option value="4">شهر ۴</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 7px;">
                <div class="form-group col-md-4">
                    <label for="p-datepicker">تاریخ رفت</label>
                    <div class="input-group">
                        <input type="text" class="form-control p-datepicker" id="p-datepicker">
                        <span class="input-group-text bg-white"><i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-2">

                </div>
                <div class="form-group col-md-3">
                    <label for="passenger-number">تعداد افراد</label>
                    <div class="input-group">
                        <span class="input-group-text bg-white">
                            <div class="btn"><i class="fa-solid fa-plus" onclick="changeNumber(1)"></i></div>
                        </span>
                        <input type="number" value="1" id="passenger-number" class="form-control align-items-center"
                            min="1" style="text-align:center; vertical-align: middle;" onchange="checkNumber()">
                        <span class="input-group-text bg-white">
                            <div class="btn"><i class="fa-solid fa-minus" onclick="changeNumber(0)"></i></div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 7px;">
                <div class="col col-md-1">
                    <button class="btn btn-primary" id="submit" onclick="handler()">مشاهده</button>
                </div>
            </div>
        </form>
        <div id="std"></div>
        <div class="row" style="margin: 20px;">
            <div class="column" style="width: 33.33%;">
                <img src="assets/img/a1.png" style="width:100%;">
                <h5>رزرو هتل با بهترین قیمت در قطر</h5>
            </div>
            <div class="column" style="width: 33.33%;">
                <img src="assets/img/a2.png" style="width:100%; height:207px;">
                <h5>تور های لحظه آخری استانبول</h5>
            </div>
            <div class="column" style="width: 33.33%;">
                <img src="assets/img/a3.png" style="width:100%;">
                <h5>تا ۵۰٪ تخفیف رزرو هتل در مشهد</h5>
            </div>
        </div>
        <div class="row" style="margin: 20px;">
            <img src="assets/img/adBanner.png" class="card-img-top" alt="testing" style="padding: 20px;">
        </div>
    </div>
</main>

<footer>
    <div class="container">
        مشخصات تیم:
        حسین صبحی ۹۷۱۰۶۰۸۱
        دانیال براری ۹۷۱۱۰۵۶۳
        رضا قمقام ۹۹۱۷۰۵۴۲
    </div>
</footer>
{{ template "footer"}}