{{ template "header" .}}
{{ template "sidebar" .}}

<main style="margin-top: 70px;">
    <div class="container">
        <div class="fs-4">
            <span><button class="btn btn-primary" id="submit" onclick="">روز قبل</button></span>
            <span>تاریخ : </span>
            {{if .content}}
            <div class="notification is-danger is-light">
              {{.content}}
            </div>
            {{end}}
            <!-- {{ .city1 }}
            {{ .city2 }} -->
            {{ .date }}
            <!-- {{ .passenger_number }} -->
            <span><button class="btn btn-primary" id="submit" onclick="">روز بعد</button></span>
        </div>
        <form method="POST" action="#" class="me-3">
            <div class="row" style="margin-top: 7px;">
                <!-- <div class="form-group col-md-4">
                    <label for="p-datepicker">تاریخ</label>
                    <div class="input-group">
                        <input type="text" class="form-control p-datepicker" id="p-datepicker">
                        <span class="input-group-text bg-white"><i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div> -->
                <!-- <div class="col col-md-1">
                    <button class="btn btn-primary" id="submit" onclick="">روز قبل</button>
                </div>
                <div class="col col-md-1">
                    <button class="btn btn-primary" id="submit" onclick="">روز بعد</button>
                </div> -->
                <div class="form-group col-md-2">

                </div>
            </div>
        </form>
        <div class="col-md-11">
            <hr class="form-line">
        </div>
        {{ range $ticket := .tickets }}
            <div style="padding: 10px;">
                <span>   شماره پرواز: {{$ticket.Flight_id}}   </span>
                <span>||   مقصد: {{$ticket.Dest}}   </span>
                <span>||   هواپیما: {{$ticket.Aircraft}}   </span>
                <span>||   زمان پرواز: {{$ticket.Duration}}   </span>
                <span>||   قیمت: {{$ticket.Price}}   </span>
                <button class="btn btn-primary" id="submit" onclick="" style="background-color: darkgreen;">خرید بلیط</button>
                <div><hr class="form-line"></div>
            </div>
        {{ end }}
        <div id="std"></div>
    </div>
</main>
{{ template "footer"}}